# Ambientes Virtuais e Cache Python
__pycache__/
.sysenv/
*.py[cod]

# Dados Locais e Backups (Migrados para Cloud)
data/repo/plugins/*.json
data/frequencia/*.json
data/*.log

.streamlit/secrets.toml
.env

# Ignorar todo o conteúdo de data/Turmas (preservando apenas a pasta)
data/Turmas/**
!data/Turmas/Escola.txt

data/rascunhos/*
data/repo/*
data/repo/plugins/*json
data/repo/plugins/*.db
!data/repo/plugins/
docs/*.txt
data/credentials.json

dist/*
img/*
build/*
scripts/*
!scripts/seed_data.py
!scripts/seed_lessons.py
!scripts/seed_students.py
!scripts/fix_gabaritos.py
!scripts/fix_quizzes.py
!scripts\quiz_parser.py
# Arquivos de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo