# Ambiente Virtual
.venv/
venv/
.sysenv/

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Segredos e Configuração Local
.env
.streamlit/secrets.toml
/*.md
data/Turmas/*.txt
data/Turmas/*/*.txt
data/Turmas/*/*/*.txt
data/Turmas/*/*/*/*.txt
data/Turmas/*/*/*/*/*.txt
data/Turmas/*/*/*/*/*/*.txt
data/Turmas/*/*.md
data/Turmas/*/*/*.md
data/Turmas/*/*/*/*.md
data/Turmas/*/*/*/*/*.md
data/Turmas/*/*/*/*/*/*.md
data/Turmas/*/*/*.sb3
data/Turmas/*/*/*/*.sb3
data/Turmas/*/*/*/*/*.sb3
data/Turmas/*/*/*/*.svg
data/Turmas/*/*/*/*.py
data/Turmas/*/*/*/*/*.py
data/Turmas/*/*/*/*/*/*.py
data/Turmas/*/*/*/*.java
data/Turmas/*/*/*/*/*.java
data/Turmas/*/*/*/*.feature
data/Turmas/*/*/*.pdf
data/Turmas/*/*/*/*.pdf
data/Turmas/*/*/*/*/*.pdf
data/Turmas/*/*/*.png
data/Turmas/*/*/*/*.png
data/Turmas/*/*/*/*/*.png
data/Turmas/*/*/*/*/*/*.png
data/Turmas/*/*/*.jpg
data/Turmas/*/*/*/*.jpg
data/Turmas/*/*/*/*/*.jpg
data/Turmas/*/*/*.zip
data/Turmas/*/*/*/*.zip
data/Turmas/*/*/*/*/*.zip
data/Turmas/*/*/*/*/*/*.zip
data/Turmas/*/*/*.html
data/Turmas/*/*/*/*.html
data/Turmas/*/*/*/*/*.html
data/Turmas/*/*/*/*/*/*.html
data/Turmas/*/*/*.js
data/Turmas/*/*/*/*.js
data/Turmas/*/*/*/*/*.js
data/Turmas/*/*/*.c
data/Turmas/*/*/*/*.c
data/Turmas/*/*/*/*/*.c
data/Turmas/*/*/*/*/*/*.c
data/Turmas/*/*/*.css
data/Turmas/*/*/*/*.css
data/Turmas/*/*/*/*/*.css
data/Turmas/*/*/*.map
data/Turmas/*/*/*/*.map
data/Turmas/*/*/*/*/*.map
data/Turmas/*/*/*.json
data/Turmas/*/*/*/*.json
data/Turmas/*/*/*/*/*.json
data/Turmas/*/*/*/*/*/*.json
data/Turmas/*/*/*/*/node_modules/*
data/Turmas/*/*/*/*/*/node_modules/*
data/Turmas/*/*/*/*/*/audio/*
data/Turmas/*/*/*/assets/*
data/rascunhos/*
data/datasets/*
data/datasets/*.png
# Scripts .py

data/Turmas/*/*/*/*.py
data/Turmas/*/*.py
data/Turmas/*/*/*.py
data/Turmas/*/*/*/*/*.py
data/repo/*
docs/*.txt
data/credentials.json

dist/*
img/*
build/*
scripts/*
!scripts/seed_data.py
!scripts/seed_lessons.py
!scripts/seed_students.py
!scripts/fix_gabaritos.py
!scripts/fix_quizzes.py
!scripts\quiz_parser.py
# Arquivos de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo