# Ambiente Virtual
.venv/
venv/
.sysenv/

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Segredos e Configuração Local
.env
.streamlit/secrets.toml
data/Turmas/*.txt
data/Turmas/*/*.txt
data/Turmas/*/*.md
data/Turmas/*/*/*.md
data/Turmas/*/*/*/*.md
docs/*.txt
dist/*
build/*
scripts/*
!scripts/seed_data.py
!scripts/seed_lessons.py
!scripts/seed_students.py
!scripts/fix_gabaritos.py
!scripts/fix_quizzes.py

# Arquivos de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo