bcrypt
customtkinter
filelock
flask
fastapi
google-auth-oauthlib
google-genai
google-generativeai
# llama-cpp-python
matplotlib
openai
psutil
Pillow
pypdf
pdfplumber
pyinstaller
python-dotenv
requests
starlette<0.37
streamlit
streamlit-javascript
streamlit-pdf-viewer
supabase
uvicorn
llama-cpp-python==0.1.9