bcrypt
customtkinter
filelock
flask
google-auth-oauthlib
google-genai
google-generativeai
matplotlib
openai
Pillow
psutil
pypdf
pyinstaller
python-dotenv
requests
starlette<0.37
streamlit
streamlit-javascript
streamlit-pdf-viewer
supabase